@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: "Nunito", sans-serif;
  font-family: "Urbanist", sans-serif;
}

.item-enter {
  opacity: 0;
}

.item-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.table-container {
  max-height: 400px;
  overflow-y: auto;
}

.table {
  width: 100%;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #a2c0d4;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7898b4;
}

/* For Firefox */
::-moz-scrollbar {
  width: 8px;
}

::-moz-scrollbar-track {
  background-color: #f1f1f1;
}

::-moz-scrollbar-thumb {
  background-color: #a2c0d4;
  border-radius: 4px;
}

::-moz-scrollbar-thumb:hover {
  background-color: #7898b4;
}

/* For Edge and IE */
::-ms-scrollbar {
  width: 8px;
}

::-ms-scrollbar-track {
  background-color: #f1f1f1;
}

::-ms-scrollbar-thumb {
  background-color: #a2c0d4;
  border-radius: 4px;
}

::-ms-scrollbar-thumb:hover {
  background-color: #7898b4;
}
